@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;}

.color {
	background-color: rgb(240, 234, 235) !important;
}
.title h2::before {
	position: absolute;
	content: " ";
	width: 4px;
	height: 50px;
	background-color: rgb(23, 155, 30);
	right: -20px;
	top: 50%;
	transform: translateY(-50%);
}


.box-content {
	box-shadow: 0 3px 9px 3px rgba(87, 156, 90, 0.904);
	border-radius: 10%;
	padding: 30px;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #2c7004;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow-color: #ffc400;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}



body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	/*background: var(--grey);*/
	overflow-x: hidden;
}


/* SIDEBAR ****************************************************************/
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}

#sidebar::--webkit-scrollbar {
	display: none;
}

#sidebar.hide {
	width: 60px;
}

#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}

#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}

#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}

#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}

#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}

#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}

#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}

#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}

#sidebar .side-menu.top li.active a {
	color: var(--blue);
}

#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}

#sidebar .side-menu li a.logout {
	color: var(--red);
}

#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}

#sidebar .side-menu li a .bx {
	min-width: calc(60px - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}

/* SIDEBAR **************************************/





/* CONTENT ********************************************/
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
	background: var(--grey);
}

#sidebar.hide~#content {
	width: calc(100% - 60px);
	left: 60px;
}


/* NAVBAR   admin*********************************************/
.logo-part {
	background-color: #ffffff;
}

#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}

#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}

#content nav a {
	color: var(--dark);
}

#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}

#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}

#content nav .nav-link:hover {
	color: var(--blue);
}

#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}

#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}

#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}

#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}

#content nav .notification {
	font-size: 20px;
	position: relative;
}

#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}

#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}

#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}

#content nav #switch-mode:checked+.switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}

/* NAVBAR admin ************************************************/









/* MAIN ********************************************/
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}

#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}

#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}

#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}

#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}

#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}

#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}

#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}




#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}

#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}

#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}

#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}

#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}

#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}

#content main .box-info li .text p {
	color: var(--dark);
}


#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}

#content main .table-data>div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}

#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}

#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}

#content main .table-data .head .bx {
	cursor: pointer;
	color: #609940;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}

#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}

#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}

#content main .table-data .order table td {
	padding: 16px 0;
}

#content main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}

#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}

#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}

#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}

#content main .table-data .todo .todo-list li a {
	padding: 10px;

	color: #2c7004;
	font-weight: bold;
}

#content main .table-data .order table tr td .status.completed {
	background: var(--blue);
}

#content main .table-data .order table tr td .status.not-completed {
	background: var(--orange);
}

#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
}

#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
}


#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}

#content main .table-data .todo .todo-list {
	width: 100%;
}

#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}

#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}

#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}

#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}

#content main .table-data .order table .tra:hover {
	background-color: #9c9999;
}

/* MAIN ***********************************************/




@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}






@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}

	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show~.notification,
	#content nav form.show~.profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}

	#content main .table-data .order table {
		min-width: 420px;
	}

	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}




/* CONTENT ***********************************************************/













/*start project*********************************************/
.project {

	padding-top: 10px;
	padding-bottom: 100px;

}

.project h2 {
	font-size: 50px;
}

.project .container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 20px;
	margin-right: auto;
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 40px;
	/* background: var(--grey); */

}

.project .h {
	margin-right: 22px;
	margin-top: 10px;
	align-items: center;
	display: flex;
	gap: 5px;

}

.project .h input {
	border-radius: 10px;
	padding: 3px;
	border-color: 1px #2c7004;

}

.project .box {
	box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
	background-color: rgb(255, 255, 255);

	border-radius: 6px;
	overflow: hidden;
	transition: 0.3s, box-shadow 0.3s;

}

.project .box img {
	width: 100%;
	height: 150px;
	object-fit: fill;



}

.project .box:hover {
	transform: translateY(-10px);
	box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}


.project .box .content {
	padding: 20px;

}

.project .box .content h3 {
	margin: 0;
}

.project .box .content p {
	margin: 10px 0px 0 0;
	line-height: 1.5;
	color: #777;
	padding-bottom: 10px;

}

.project .box .info {
	padding: 10px;
	display: flex;

	justify-content: space-between;
	align-items: center;
}

.project .box .info a {
	padding: 10px;
	color: green;
	/* border:  solid #2c7004; 
  border-radius: 40px 40px 40px  40px;
 
  background-color: #ffffff;
    color: #2c7004;
    font-weight: bold;
	text-decoration: none; */


}

.project .box .info .delete {
	padding: 10px;
	color: red;

}

.project .box .info button {
	border: solid #2c7004;
	border-radius: 40px 40px 40px 40px;
	padding: 10px;
	background-color: #ffffff;
	color: #2c7004;
	font-weight: bold;



}



.project .progress-bar {
	height: 14px;
	background: #282828;
	border-radius: 3px;
}

.project .progress-per {
	height: 14px;
	background: #2c7004;
	border-radius: 3px;
	position: relative;
	animation: fillBars 2.5s 1;
}

.project .progress-per::before {
	content: attr(per);
	position: absolute;
	padding: 4px 6px;
	background: #f1f1f1;
	border-radius: 4px;
	font-size: 12px;
	top: -35px;
	right: 0;
	transform: translateX(50%);
}

.project .progress-per::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background: #f1f1f1;
	top: -20px;
	right: 0;
	transform: translateX(50%) rotate(45deg);
	border-radius: 2px;
}




@keyframes fillBars {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}


/*****end project***********************************************************/

/***** project description***********************************************************/
.desc {
	box-shadow: 0 3px 9px 3px rgba(87, 156, 90, 0.904);
}

.card-title {
	color: rgb(42, 197, 42);
}

.container .card1 {
	position: relative;
	max-width: 300px;
	height: 220px;
	background-color: #d3d6d1;
	margin: 30px 10px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	transition: 0.3s ease-in-out;
	margin-left: auto;
	margin-right: auto;
}

.container .card1:hover {
	height: 430px;
}

.container .card1 .image {
	position: relative;
	width: 220px;
	height: 220px;
	top: -70px;
	left: -18px;
	z-index: 1;


}

.container .card1 .image img {
	max-width: 100%;
	border-radius: 50%;

}

.container .card1 .content {
	position: relative;
	margin-top: -150px;
	padding: 10px 15px;
	text-align: center;

	visibility: hidden;
	opacity: 0;
	transition: 0.3 ease-in-out;

}

.container .card1:hover .content {
	visibility: visible;
	opacity: 1;
	margin-top: -70px;
	transition-delay: 0.3s;

}

.card2 {
	box-shadow: 0 3px 9px 3px rgba(176, 192, 177, 0.904);
	transition: all 0.5s ease-in-out;

	padding: 10px;
}

.card2:hover {
	transform: translateY(-10%);
}

/*****end project description***********************************************************/

/*form addpro*****************************************************************************/







.addpro .container {
	width: 500px;
	margin: 50px auto;
	padding: 20px;
	border: none;
	box-shadow: 0 3px 9px 3px rgba(87, 156, 90, 0.904);
}


.addpro h1 {
	text-align: center;
	margin-bottom: 20px;
}

.addpro form {
	display: flex;

	flex-direction: column;

	justify-content: center;

	align-items: center;

}


.addpro .rr {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	max-height: 50px;
	/* Adjust as needed */

}





.addpro button[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	background-image: linear-gradient(to right, #4CAF50, #388E3C);

}








.addpro .rr label,
.addpro .rr input[type="text"] {



	margin: 5px;
	border-radius: 3px;
	font-weight: normal;

}

.addpro .rr label {

	margin-right: 15px;
	transition: top 0.2s ease-in-out;

}

.addpro .rr:focus-within label {
	top: 10px;



}





.addpro .rr textarea {
	text-overflow: ellipsis;
	white-space: nowrap;
	/* Prevent wrapping to multiple lines */
}

.addpro .rr {
	white-space: nowrap;

	overflow: hidden;
	text-overflow: ellipsis;
}


#userImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#profile-pic {
	width: 100%;
	height: 100%;
	object-fit: cover;
}



.inp {
	width: 100px;
	position: relative;
	margin: auto;
}

.inp img {
	border-radius: 50%;
	border: 6px solid #eaeaea;
}

.inp img {
	border-radius: 50%;
	border: 6px solid #eaeaea;
}

.inp .round {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #adc5cf;
	width: 32px;
	height: 32px;
	line-height: 33px;
	text-align: center;
	border-radius: 50%;
	overflow: hidden;

}

.inp .round input[type="file"] {
	position: absolute;
	transform: scale(2);
	opacity: 0;
}

#input-file[type=file]::-webkit-file-upload-button {
	cursor: pointer;
}












/****************************/








/*****************add user***********************/

.adduser .container {
	width: 500px;
	margin: 50px auto;
	background-image: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
	padding: 20px;
	border: none;
	border-radius: 8px;

	box-shadow: 0 3px 9px 3px rgba(87, 156, 90, 0.904);
}


.adduser h1 {
	text-align: center;
	margin-bottom: 20px;
}

.adduser form {
	display: flex;

	flex-direction: column;

	justify-content: center;

	align-items: center;

}


.adduser .input-group {
	display: flex;
	align-items: center;
	margin-bottom: 15px;


}

.adduser .input-group:hover input[type="text"] {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}



.adduser button[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	background-image: linear-gradient(to right, #4CAF50, #388E3C);

}

.adduser button[type="submit"]:active {
	animation: bounce 0.3s ease-in-out;

}

@keyframes bounce {
	0% {
		transform: translateY(0);

	}

	50% {
		transform: translateY(-10px);

	}

	100% {
		transform: translateY(0);

	}
}


.adduser .input-group label,
.adduser .input-group input[type="text"] {


	padding: 8px;
	border: none;
	border-radius: 3px;
	font-weight: normal;

}

.adduser .input-group label {

	margin-right: 15px;
	transition: top 0.2s ease-in-out;

}

.adduser .input-group:focus-within label {
	top: 10px;

	font-size: 0.8rem;

}

#projectuser {
	margin-left: 14px;
}





#userImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.change-user-image {
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
	font-size: 20px;
	color: #fff;
}


.error-message {
	color: red;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	/* Stack elements vertically */
	align-items: flex-start;


}

/****************************/









/* CSS */
.button-48 {
	appearance: none;
	border-radius: 10px;
	background-color: rgb(23, 155, 30);
	border-width: 0;
	box-sizing: border-box;
	color: #000000;
	cursor: pointer;
	display: inline-block;
	font-family: Clarkson, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 1em;
	margin: 0;
	opacity: 1;
	outline: 0;
	padding: 10px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-rendering: geometricprecision;
	text-transform: uppercase;
	transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	white-space: nowrap;
}

.button-48:before {

	border-radius: 10px;
	animation: opacityFallbackOut .5s step-end forwards;
	backface-visibility: hidden;
	background-color: #808080;
	clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: translateZ(0);
	transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
	width: 100%;

}

.button-48:hover:before {
	animation: opacityFallbackIn 0s step-start forwards;
	clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
	background-color: #5e5b5b36;
}

.button-48 span {
	z-index: 1;
	position: relative;
	color: #fffdfd;
	font-size: 20px;
}









/*****end form********************************************************/







/* Start Navbar user ***************************************************/
.navbar {
	background-color: white;
	box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
	width: 100%;
}

.nav-link {
	color: green;
	font-size: 16px;
	transition: all .5s ease-in-out;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
	color: var(--yellow-color);


}


.logo-part .parent .search svg {
	color: green;
	transition: all .5s ease-in-out;
}

.logo-part .parent .search svg:hover {
	color: green;
	width: 33px;
	height: 33px;

}


.navbar .navbar-toggler {
	color: gray;
	font-size: 25px;
	border-color: white;
}


.logo-part .parent {


	display: grid;
	grid-template-columns: auto auto;
	gap: 30px;
	justify-content: space-between;
	align-items: center;
	padding: 1px 30px 1px 30px;

}

.logo-part p {
	padding: 10px;
	font-size: 23px;
	letter-spacing: 1px;
	color: green;
	font-weight: 500;
	font-family: "Reem Kufi", sans-serif;

}



/* end Navbar user **************************************************************/





/*start login******************************************************************/
.log {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;

}

.log h1 {
	font-weight: bold;
	margin: 0;
}

.log h2 {
	text-align: center;
}

.log p {
	font-size: 18px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.log span {
	font-size: 16px;
}

.log a {
	color: #333;
	font-size: 15px;
	text-decoration: none;
	margin: 15px 0;
}

.log button {
	border-radius: 20px;
	border: 1px solid gray;
	background-color: #51934d;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.log button:active {
	transform: scale(0.95);
}



.log button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.log form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.logo-part .contact input {
	background-color: white;
	border: 1px solid green;
	padding: 10px;
	width: 100%;
}

.log .container-log {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 500px;
	margin-top: 250px;
	margin-bottom: 150px;
}

.log input {
	margin: 10px;
	padding: 8px;
	width: 100%;
}

.log .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.log .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.log .container-log.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.log .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container-log.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {

	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}




.log .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.log .container-log.right-panel-active .overlay-container {
	transform: translateX(-100%);
}

.log .overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #b3e99c, #51934d);
	background: linear-gradient(to right, #b3e99c, #51934d);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.log .container-log.right-panel-active .overlay {
	transform: translateX(50%);
}

.log .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.log .overlay-left {
	transform: translateX(-20%);
}

.log .container-log.right-panel-active .overlay-left {
	transform: translateX(0);
}

.log .overlay-right {
	right: 0;
	transform: translateX(0);
}

.log .container-log.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.log .social-container {
	margin: 20px 0;
}

.log .social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}



/***********************end login*******************************************************************/










/* support */

#content main .table-data .order table td a {

	padding: 10px;

	color: #2c7004;
	font-weight: bold;

}


/* support */




/***contact**/

.container-contact {
	height: 100%;
	background: linear-gradient(90deg, #2c7004 0%, #2c7004 30%, #93be7a 30%, #93be7a 100%);
}

.contactus {
	position: relative;
	width: 100%;
	padding: 40px 100px;
}

.contactus .title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}

.contactus .title h2 {
	color: #fff;
	font-weight: 500px;
}


.contactus .box {
	position: relative;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 4fr 3fr;
	grid-template-areas:
		"form info"
		"form map";
	grid-gap: 20px;
	margin-top: 20px;
}

.contactus .form {
	grid-area: form;
}

.contactus .info {
	grid-area: info;
}

.contactus .map {
	grid-area: map;
}

.contactus .contact {
	background: #fff;
	padding: 40px;
	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
	text-align: right;
	direction: rtl;
}

.contactus .contact h3 {
	color: #2c7004;
	font-weight: 500;
	font-size: 1.4em;
	margin-bottom: 10px;
	text-align: right;
}

.contactus .formbox {
	position: relative;
	width: 100%;
}

.contactus .formbox .row50 {
	display: flex;
	gap: 20px;
}

.contactus .inputbox {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	width: 50%;
}

.contactus .formbox .row100 .inputbox {
	width: 100%;


}

.contactus .inputbox span {
	color: #2c7004;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: 500;
}

.contactus .inputbox input {
	padding: 10px;
	font-size: 1.1em;
	outline: none;
	border: 1px solid #333;

}

.contactus .inputbox textarea {
	padding: 10px;
	font-size: 1.1em;
	outline: none;
	border: 1px solid #333;
	resize: none;
	min-height: 200px;
	margin-top: 10px;
}

.contactus .inputbox input[type="submit"] {

	background: #2c7004;
	color: #fff;
	border: none;
	font-size: 1.1em;
	max-width: 120px;
	font-weight: 500;
	cursor: pointer;
	padding: 14px 15px;
}

.contactus .inputbox ::placeholder {
	color: #999;
}

/* info */
.contactus .info {
	background: #2c7004;
}

.contactus .info h3 {
	color: #fff;
}

.contactus .info .infobox div {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.contactus .info .infobox div span {
	min-width: 40px;
	height: 40px;
	color: #fff;
	background: #93be7a;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	border-radius: 50%;
	margin-right: 15px;
}

.contactus .info .infobox div p {
	color: #fff;
	font-size: 1.1em;
}

.contactus .info .infobox div a {
	color: white;
	text-decoration: none;
	font-size: 1.1em;
}

.contactus .sci {
	margin-top: 40px;
	display: flex;
}

.contactus .sci li {
	list-style: none;
	margin-right: 15px;
}

.contactus .sci li a {
	color: #fff;
	font-size: 2em;
	color: #ccc;
}

.contactus .sci li a :hover {
	color: #fff;
}

.contactus .map {
	padding: 0;
}

.contactus .map iframe {
	width: 100%;
	height: 100%;
}

/* resposive */
@media (max-width: 991px) {
	.container-contact {
		background: #93be7a;
	}

	.contactus {
		padding: 20px;
	}

	.contactus .box {

		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"form "
			"info"
			" map";
		grid-gap: 20px;
		margin-top: 20px;
	}

	.contactus .map {
		min-height: 300px;
	}

	.contactus .formbox .row50 {
		display: flex;
		gap: 0;
		flex-direction: column;
	}
}

/*********end contact **************/









/***************profile****************/

.prof .ui-w-80 {
	width: 80px !important;
	height: auto;
}

.prof .btn-default {
	border-color: rgba(24, 28, 33, 0.1);
	background: rgba(0, 0, 0, 0);
	color: #4E5155;
}

.prof label.btn {
	margin-bottom: 0;
}

.prof .btn-outline-primary {
	border: 2px solid #3B5998;
	background: transparent;
	color: #3B5998;
	font-weight: bold;
}

.prof .btn {
	cursor: pointer;
}

.prof .text-light {
	color: #babbbc !important;
}

.prof .btn-facebook {
	border-color: rgba(0, 0, 0, 0);
	background: #3B5998;
	color: #fff;
}

.prof .btn-instagram {
	border-color: rgba(0, 0, 0, 0);
	background: #000;
	color: #fff;
}

.prof .card {
	background-clip: padding-box;
	box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.prof .row-bordered {
	overflow: hidden;
}

.prof .account-settings-fileinput {
	position: absolute;
	visibility: hidden;
	width: 1px;
	height: 1px;
	opacity: 0;
}




.prof .account-settings-links .list-group-item.active {
	font-weight: bold !important;
	background-color: #3b59984d;
	border: #303a47;
}

.prof .account-settings-links .list-group-item.active {
	color: #303a47 !important;
}

.prof .account-settings-multiselect~.select2-container {
	width: 100% !important;
}



.prof .out {
	font-weight: bold !important;
	background-color: #d89da0;
	border: #303a47;
	color: #303a47;
}

.prof .out a:hover {
	text-decoration: none;
}



.prof .delete_m {
	padding: 5%;

}


.prof .delete_m button {
	padding: 10px;
	color: #060714;

	border-radius: 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.prof .delete_cont {
	width: 60%;
	padding: 5%;
	margin: 20%;
	background: white;
	display: none;
	border: solid 1px #000;

}

.prof .delete_actions {
	display: flex;
}

.prof .close {
	font-size: 30px;
	color: red;
	font-weight: bolder;
	margin-top: -5%;
	float: right;
	cursor: pointer;
}

.prof .cancel {
	width: 50%;
	height: 5vh;
	background: rgb(58, 174, 212);
	border: none;
	color: white;
	margin-right: 1%;
	margin-left: 2%;
}

.prof .delete {
	width: 50%;
	height: 5vh;
	background: red;
	border: #000;
	color: white;
	margin-left: 1%;
}




/****************add user**************/



/**************************/
.carousel-inner .carousel-item img {
	height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.carousel-caption {
	background-color: #179b1e24;
	width: fit-content;
	margin: auto;
}

.carousel-indicators {
	margin-bottom: 0px;
}

/* **************************section1 *****************************/




.section1 .icon-text {
	text-align: center;
	margin: 20px auto;
	font-size: 30px;
}

.section1 .icon-text i {
	font-size: 40px;
	font-weight: 800;
}

.section1 .card {
	text-align: center;
	border: none;
}

.section1 .card-heading {
	font-size: 25px;
	font-weight: 600;
	color: rgb(23, 155, 30);
}

.section1 .btn-blue {
	background-color: rgb(23, 155, 30);
	transition: .5s;
}

.section1 .btn-blue :hover {
	transform: scale(1.2);
	transition: 1s
}

.section1 .card-img-top:hover {
	transform: scale(1.2);
	transition: 1s
}



/* ************************** end section1 *****************************/



/* ************************** section3 *****************************/
.product {
	position: relative;
	overflow: hidden;
	padding: 20px;

}

.product-container {
	padding: 0 10vw;
	display: flex;
	overflow-x: auto;
	scroll-behavior: smooth;
	height: 100vh;
}

.product-container::-webkit-scrollbar {
	display: none;
}

.product-card {
	flex: 0 0 auto;
	width: 250px;
	height: 450px;
	margin-right: 40px;
}

.product-image {
	position: relative;
	width: 100%;
	height: 350px;
	overflow: hidden;
}

.product-thumb {
	display: block;
	width: 300px;
	height: 500px;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
}

.discount-tag {
	position: absolute;
	background: #fff;
	padding: 5px;
	border-radius: 5px;
	color: #6da5c0;
	right: 10px;
	top: 10px;
	text-transform: capitalize;
}

.card-btn {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	width: 90%;
	text-transform: capitalize;
	border: none;
	outline: none;
	background: #fff;
	border-radius: 5px;
	transition: 0.5s;
	cursor: pointer;
	opacity: 0;
}

.product-card:hover .card-btn {
	opacity: 1;
}

.card-btn:hover {
	background: rgb(23, 155, 30);
	color: #fff;
}

.product-info {
	width: 100%;
	height: 100px;
	padding-top: 10px;
}

.product-brand {
	text-transform: uppercase;
}

.product-short-description {
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	opacity: 0.5;
	text-transform: capitalize;
	margin: 5px 0;
}

.price {
	font-weight: 900;
	font-size: 20px;
}

.actual-price {
	margin-left: 20px;
	opacity: 0.5;

}

.pre-btn,
.nxt-btn {
	border: none;
	width: 10vw;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
	cursor: pointer;
	z-index: 8;
}

.pre-btn {
	left: 0;
	transform: rotate(180deg);
}

.nxt-btn {
	right: 0;
}

.pre-btn img,
.nxt-btn img {
	opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
	opacity: 1;
}

.collection-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

.collection {
	position: relative;
}

.collection img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.collection p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
	font-size: 50px;
	text-transform: capitalize;
}

.collection:nth-child(3) {
	grid-column: span 2;
	margin-bottom: 10px;
}

/* **************************end section3 *****************************/



.floating img {
	width: 100%;
}


/* Start Here buuton floating */
.floating {

	background-color: var(--grey);
}

.fab-btn {
	position: fixed;
	/* position: absolute; */
	right: 3rem;
	bottom: 1.5rem;
	width: 4.5rem;
	height: 4.5rem;
	background-color: rgb(23, 155, 30);
	color: var(--white);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 2rem;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.3s;
}

.fab-btn i {
	transition: all 0.3s;
}

.fab-btn a {
	transition: all 0.3s;
}

.fab-btns .fab-btn {
	width: 3.5rem;
	height: 3.5rem;
	right: 3.8rem;
	bottom: 2.3rem;
	font-size: 1.5rem;
}

.fab-btns.show .fab-btn:nth-child(1) {
	bottom: 8rem;
	background: #3b5999;
}

/* Add 5rem to the bottom value */
.fab-btns.show .fab-btn:nth-child(2) {
	bottom: 13rem;
	background: #25d366;
}

.fab-btns.show .fab-btn:nth-child(3) {
	bottom: 18rem;
	background: var(--color-primary);
}

.fab-btns.show .fab-btn:nth-child(4) {
	bottom: 23rem;
	background: #55acee;

}

.fab-btns.show+.fab-btn i {
	transform: rotate(135deg);
}

/*******************/
/* **************************Start Repair*****************************/

.mainPro {

	background-color: rgb(100 211 52 / 16%);
}

.mainPro .box {

	box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.5);
	transition: all 0.5s ease-in-out;
}

.mainPro .box:hover {
	box-shadow: 0 5px 9px 5px rgba(0, 0, 0, 0.9);
	transform: translateY(-20px);
}

.mainPro .box img {
	border-bottom: 2px solid rgb(23, 155, 30);
	;
	height: 230px;
	width: 100%;
}


.mainPro .sbox {
	background-color: #96acf1;
	cursor: pointer;
	transition: 0.5s;
	position: relative;
}

/**************************************************/







.homepagesup .header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	padding: 1rem 9%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}


.homepagesup .logo {
	font-size: 3rem;
	color: #333;
	font-weight: bolder;
}

.homepagesup .logo span {
	color: var(--pink);
}

.homepagesup .navu a {
	font-size: 2rem;
	padding: 0 1.5rem;
	color: #666;
}

.homepagesup .navu a:hover {
	color: var(--pink);
}

.homepagesup .navu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 50px;
	margin-right: 50px;
}



.homepagesup .icons {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.homepagesup .icons a {
	font-size: 2rem;
	color: #333;
	margin-left: 1.5rem;
}

.homepagesup .icons a:hover {
	color: #2c7004;
}

#toggler {
	display: none;
}

.homepagesup .fa-bars {
	font-size: 3rem;
	color: #333;
	border-radius: .5rem;
	padding: .5rem 1.5rem;
	cursor: pointer;
	border: .1rem solid rgba(0, 0, 0, .3);
	display: none;
}





@media (max-width: 991px) {
	.icons {
		display: none;
	}
}



@media (max-width:768px) {

	.fa-bars {
		display: block;
	}

	.navu {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: #eee;
		border-top: .1rem solid rgba(0, 0, 0, .1);
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}

	#toggler:checked~.navu {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}

	.navu a {
		margin: 1.5rem;
		padding: 1.5rem;
		background: #fff;
		border: .1rem solid rgba(0, 0, 0, .1);
		display: block;
	}
}


@media (max-width: 768px) {
	.header .fa-bars {
		display: block;
	}
}




/* @media (max-width:991px) {
	.homepagesup {
		padding: 2rem;
	}

} */


/* Banner Area */

.site-main .site-banner {
	background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner {
	padding-top: 20px;
}

.site-main .site-banner .site-title h3 {
	padding-top: 35%;
	font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
	content: " ";
	height: 2px;
	width: 18vw;
	background: black;
	display: inline-block;
	margin-left: 5%;
	transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
	font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
	font-size: 1.5rem;
}

.site-main .site-banner .banner-image>img {
	padding: 7rem 0;
	width: 90rem;
}

.site-banner {
	margin-top: 150px;
}


/* End Banner Area */


.homepagesup .info {
	padding: 10px;
	display: flex;

	justify-content: space-between;
	align-items: center;
}

.homepagesup .info a {
	/* border: 1rem solid #009688 ; */
	padding: 10px;
	background-color: #e6f8de;
	color: rgb(38, 153, 0);
	font-weight: bold;
	border-radius: 50%;


}

.homepagesup .info i {
	color: rgb(38, 153, 0);
	font-weight: bold;

}

.homepagesup .box1:hover .info i {
	animation: moving-arrow 0.6s linear infinite;


}

@keyframes moving-arrow {
	100% {
		transform: translateX(10px);
	}
}



/* Start Brand Area */

.site-main .brand-area {
	padding: 1rem 20rem;
	margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4 {
	display: flex;
	justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4>.single-brand {
	border: 1px solid #201f1f17;
	;
	text-align: center;
	padding: 1.8rem 0rem;
	margin: .9rem 0;
	width: 180px;
	height: 100px;
	cursor: pointer;
	transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-4>.single-brand>img {
	width: 50%;
}

.site-main .brand-area .first-row .col-lg-4>.single-brand:hover {
	box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
	transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4>.single-brand:hover>img {
	filter: brightness(1.1);
}

.site-main .brand-area .experience-area {
	padding-left: 1rem;
}

.site-main .brand-area .experience-area span {
	display: block;
}

.site-main .brand-area .experience-area .years-area {
	background: url(../img/client-info-bg.png) no-repeat 45px 20px;
	padding: 2rem 0;
	width: 40rem;
	height: 18rem;
	padding-left: 8rem;
	position: relative;
}



.site-main .brand-area .experience-area .years-area .years {
	font: normal bold 84px/40px 'Roboto', cursive;
	color: #4458dc;
	z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2>span {
	font: normal 600 22px/30px 'Roboto', cursive;
}



/* End Brand Area */










/* ---------------- Site Content ----------------*/


.prodetail a {
	text-decoration: none;
	color: #3f4954;
}

.prodetail .post-content {

	width: 100%;

}

.prodetail .site-content .post-content>.post-image,
.post-title {
	padding: 1rem 2rem;
	position: relative;
}

.prodetail .site-content .post-content>.post-image .post-info {
	background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
	padding: 1rem;
	position: absolute;
	bottom: 0%;
	left: 20vw;
	border-radius: 3rem;
}

.prodetail .site-content .post-content>.post-image>div {
	overflow: hidden;
}

.prodetail .site-content .post-content>.post-image .img {
	width: 70%;
	transition: all 1s ease;
}

.prodetail .site-content .post-content>.post-image .img:hover {
	transform: scale(1.3);
}

.prodetail .site-content .post-content>.post-image .post-info span {
	margin: 0 .5rem;
}

.prodetail .post-content .post-title a {

	font-size: 1.5rem;
}






@media only screen and (max-width: 1130px) {
	.prodetail .site-content .post-content>.post-image .post-info {
		left: 2rem !important;
		bottom: 1.2rem !important;
		border-radius: 0% !important;
	}





}



@media only screen and (max-width: 750px) {



	.prodetail .site-content {
		grid-template-columns: 100%;
	}



}


/*        x            x     */


/****************start homepageesuup**************/
.homepagesupp .proj {
	min-height: auto;
	padding-bottom: 7rem;
	/* background: #eaeef1; */
}

.homepagesupp .proj h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
	margin-top: 15px;
}

.homepagesupp .proj .proj-row {
	display: flex;
	flex-wrap: wrap;
	gap: 5rem;

}

.homepagesupp .proj .proj-row .proj-column {
	flex: 1 1 25rem;
	margin-left: 15px;
	margin-right: 15px;
}

.homepagesupp .proj .proj-row .proj-column .title {
	font-size: 1.5rem;
	margin: 0 0 1.5rem;
}

.homepagesupp .proj .proj-row .proj-column .proj-box .proj-content {
	position: relative;
	border: .2rem solid green;
	border-radius: .6rem;
	padding: .5rem 1.5rem;
	z-index: 1;
	overflow: hidden;
}

.homepagesupp .proj .proj-row .proj-column .proj-box .proj-content:hover::before {
	width: 100%;
}

.homepagesupp .proj .proj-row .proj-column .proj-box .proj-content::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: rgb(223, 208, 208);
	z-index: -1;
	transition: .5s;
}

.homepagesupp .proj .proj-row .proj-column .proj-box .proj-content .progres {
	padding: 1rem;
	overflow: hidden;
}

.homepagesupp .proj .proj-row .proj-column .proj-box .proj-content .progres h3 {
	font-size: 1.7rem;
	display: flex;
	justify-content: space-between;
}

.homepagesupp .proj .proj-row .proj-column .proj-box .proj-content .progres h3 span {
	color: #2c7004;
}

.homepagesupp .proj .proj-row .proj-column .proj-box .proj-content .progres .bar {
	height: 2.5rem;
	border-radius: .6rem;
	border: .2rem solid gray;
	padding: .5rem;
	margin: 1rem 0;
}

.homepagesupp .proj .proj-row .proj-column .proj-box .proj-content .progres .bar span {
	display: block;
	height: 100%;
	border-radius: .3rem;
	background-color: #33a133;
}

.homepagesupp .proj .proj-row .proj-column:nth-child(1) .proj-content .progres:nth-child(1) .bar span {
	width: 90%;
}

.homepagesupp .proj .proj-row .proj-column:nth-child(1) .proj-content .progres:nth-child(2) .bar span {
	width: 80%;
}

.homepagesupp .proj .proj-row .proj-column:nth-child(1) .proj-content .progres:nth-child(3) .bar span {
	width: 65%;
}

.homepagesupp .proj .proj-row .proj-column:nth-child(1) .proj-content .progres:nth-child(4) .bar span {
	width: 75%;
}

.homepagesupp .proj .proj-row .proj-column:nth-child(2) .proj-content .progres:nth-child(1) .bar span {
	width: 90%;
}

.homepagesupp .proj .proj-row .proj-column:nth-child(2) .proj-content .progres:nth-child(2) .bar span {
	width: 80%;
}

.homepagesupp .proj .proj-row .proj-column:nth-child(2) .proj-content .progres:nth-child(3) .bar span {
	width: 65%;
}

.homepagesupp .proj .proj-row .proj-column:nth-child(2) .proj-content .progres:nth-child(4) .bar span {
	width: 75%;
}

/****************end homepageesuup**************/






.homepageemp .content-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	min-width: 400px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	margin: auto;

}

.homepageemp .content-table thead tr {
	background-color: #009879;
	color: #ffffff;
	text-align: left;
	font-weight: bold;
}

.homepageemp .content-table th,
.homepageemp .content-table td {
	padding: 12px 15px;
}

.homepageemp .content-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.homepageemp .content-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.homepageemp .content-table tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

.homepageemp .content-table tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}




/***************************************************/


.planets-carousel {
    position: relative;
    height: 80%;
    display: flex;
    align-items: stretch;
}

.landing-carousel-item {
    width: 100%;
    padding: 2rem;
    flex-shrink: 0;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 0.5rem;
}

.landing-carousel-dots {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    column-gap: 1rem;
}
.landing-carousel-dots .dot {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: transparent;
    border: 2px solid white;
}

.landing-carousel-dots .dot.active {
    background: white;
}


.landing-carousel-dots .dot:active {
    background-color: white;
}
.landing-carousel-dots .dot::before {
    content: '';
}


#carousel-solar-system {
    background-image: linear-gradient(to right, #0000, #141414c7), 
    url('../img/slider1/1.jpg');
    background-position: right;
    background-size: cover;
}

#carousel-earth {
    background-image: linear-gradient(to right,  #0000, #141414c7), url('../img/slider1/3.jpg');
    background-position: center;
    background-size: contain;
}

#carousel-saturn {
    background-image: linear-gradient(to right,  #0000, #141414c7), url('../img/slider1/4.jpg');
    background-position: center;
    background-size: contain;
}

@media (min-width: 900px) {
#carousel-earth {
	background-image: linear-gradient(to right, #0000, #141414c7), url('../img/slider1/3.jpg');
    background-position: right;
    background-size: contain;
}

#carousel-saturn {
	background-image: linear-gradient(to right, #0000, #141414c7), url('../img/slider1/4.jpg');
    background-position: right;
    background-size: contain;
}


}


.slider1 .min-h-screen {
    min-height: 100vh;
}

.slider1 .h-screen {
    height: 100vh;
}

.slider1 .w-screen {
    width: 100vw;
}

/* margins */

.slider1 .mx-2 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.slider1 .mb-1 {
    margin-bottom: 0.2rem;
}

.slider1 .mb-2 {
    margin-bottom: 1rem;
}


/* padding */

.slider1 .p-2 {
    padding: 1rem;
}
.slider1 .py-4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.slider1 .float-r {
    float: right;
}

/* bg */

.slider1 .bg-base-2 {
    background-color: var(--c-base-2);
}

.slider1 .overflow-x {
    overflow: auto;
}

.slider1 .overflow-hidden {
    overflow: hidden;
}



/* text */

.slider1 .text-center {
    text-align: center;
}

.slider1 .text-md {
    font-size: 1.5rem;
}

.slider1 .text-lg {
    font-size: 2rem;
}

.slider1 .text-xl {
    font-size: 4rem;
}

.slider1 .block {
    display: block;
}

.slider1 .flex {
    display: flex;
}

.slider1 .inline-flex {
    display: inline-flex;
}

.slider1 .flex-wrap {
    flex-wrap: wrap;
}

.slider1 .flex-col {
    flex-direction: column;
}

.slider1 .justify-center {
    justify-content: center;
}
.slider1 .justify-between{
    justify-content: space-between;
}

.slider1.justify-end {
    justify-content: end;
}

.slider1 .items-center {
    align-items: center;
}

.slider1 .gap-2 {
    gap: 1rem;
}

.slider1 .flex-1 {
    flex: 1;
}
